<div class="workflow-container">
  <span class="workflow-title">Supercharge your workflow</span>
  <span class="workflow-description"
    >We've got the tools to boost your productivity.</span
  >
  <div class="workflow-details">
    <div class="blacklists">
      <img src="/icon-blacklist.svg" />
      <span class="subheader">Create blacklists</span>
      <span
        >Ensure sensitive information never makes its<br/> way to your clipboard by
        excluding certain sources.</span
      >
    </div>
    <div class="text-snippets">
      <img src="/icon-text.svg" />
      <span class="subheader">Plain text snippets</span>
      <span
        >Remove unwanted formatting from copied text<br/> for a consistent
        look.</span
      >
    </div>
    <div class="preview">
      <img src="/icon-preview.svg" />
      <span class="subheader">Sneak preview</span>
      <span
        >Quick preview of all snippets on your Clipboard<br/> for easy access.</span
      >
    </div>
  </div>
  <div class="sponsors-logos">
    <img src="/logo-google.png"/>
    <img src="/logo-ibm.png"/>
    <img src="/logo-microsoft.png"/>
    <img src="/logo-hp.png"/>
    <img src="/logo-vector-graphics.png"/>




  </div>
</div>
