.clipboard-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.clipboard-title{
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    letter-spacing: -0.59px;
    color: #4c545c;
    text-align: center;
}
.clipboard-description{
    font-family: "Bai Jamjuree", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #9EABB2;
    line-height: 30px;
    letter-spacing: 0.14px;
    text-align: center;
}
.clipboard-buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 18px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.clipboard-buttons > button:first-child{
    background: #26BBA4;
    color: white;
    border-radius: 28px;
    width: 227px;
    height: 56px;
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    border: none;
}
.clipboard-buttons > button:last-child{
    background-color: #6174FF;
    color: white;
    border-radius: 28px;
    border: none;
    width: 227px;
    height: 56px;
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
}
.clipboard-buttons > button:hover{
    opacity: 65%;
    cursor: pointer;
  }