<main><div class="background-container">
  <div class="header-container">
    <img src="/logo.svg"/>
    <span class="app-title">A history of everything you copy</span>
    <span class="app-description">Clipboard allows you to track and organize everything you copy. Instantly<br/> access your clipboard on all your devices.</span>
    <div class="buttons">
      <button class="download-btn-ios">Download for IOS</button>
      <button class="download-btn-mac">Download for MAC</button>
    </div>
  </div>
</div>
<app-snippets></app-snippets>
<app-clipboard-anywhere></app-clipboard-anywhere>
<app-workflow></app-workflow>
<app-clipboard-devices></app-clipboard-devices>
<app-footer></app-footer>
</main>
<router-outlet />
