main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.background-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url('/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:768px ) and (min-width:400px){
main{
  gap:5rem;
}
.snippet-image{
  width: 100%;
  text-align: center;
}
.background-container{
  background: url('/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}
}

 .header-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px;
 }
.app-title {
  font-family: "Bai Jamjuree", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 46px;
  line-height: auto;
  letter-spacing: -0.75px;
  color: #4c545c;
  text-align: center;
  
}
.app-description{
    font-family: "Bai Jamjuree", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #9EABB2;
    padding: 20px;
    text-align: center;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 18px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;

}
.buttons > button:first-child{
    background: #26BBA4;
    color: white;
    border-radius: 28px;
    width: 227px;
    height: 56px;
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    border: none;
}
.buttons > button:last-child{
    background-color: #6174FF;
    color: white;
    border-radius: 28px;
    border: none;
    width: 227px;
    height: 56px;
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
}
.buttons > button:hover{
  opacity: 65%;
  cursor: pointer;
}