.clipboard-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.clipboard-title{
    font-family: "Bai Jamjuree", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    letter-spacing: -0.59px;
    color: #4c545c;
    text-align: center;
  }
  .clipboard-description{
    font-family: "Bai Jamjuree", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #9EABB2;
    line-height: 30px;
    letter-spacing: 0.14px;
    text-align: center;
  }
  .clipboard-image-container{
    padding: 50px;
  }
  @media screen and (max-width:768px ) and (min-width:400px){
    .clipboard-image-container{
        padding:0px;
    }
    .clipboard-image{
        width: 100%;
    }
  }