<div class="snippets-container">
    <span class="snippets-title">Keep track of your signals</span>
    <span class="snippets-description"
      >Clipboard instantly stores any item you copy in the cloud, meaning you can
      access<br />
      your snippets immediately on all your devices. Our Mac and iOS apps will
      help you<br />
      organize everything.</span
    >
    <div class="snippets-details">
      <img src="/image-computer.png" class="snippet-image" />
      <div class="snippets-descriptions">
        <div>
          <span class="subheader">Quick Search</span>
          <p class="description">
            Easily search your snippets by content,<br/> category, web address,
            application, and more.
          </p>
        </div>
        <div>
          <span class="subheader">iCloud Sync</span>
          <p class="description">
            Instantly saves and syncs snippets across all<br/> your devices.
          </p>
        </div>
        <div>
          <span class="subheader">Complete History</span>
          <p class="description">
            Retrieve any snippets from the first moment<br/> you started using the app.
          </p>
        </div>
      </div>
    </div>
  </div>